{% extends "base.html.jinja2" %}

{% block content %}
<div class="container mx-auto p-4">
	<h1 class="text-4xl font-bold text-center text-gray-800 mb-8">Índices Econômicos</h1>

	<div class="bg-white shadow-md rounded-lg p-5 text-center">
		<h2 class="text-xl font-semibold text-gray-700">IPCA - Índice Nacional de Preços ao Consumidor Amplo</h2>

		<h3 class="text-md font-semibold text-gray-500 mb-8">
			<a href="https://www.ibge.gov.br/estatisticas/economicas/precos-e-custos/9256-indice-nacional-de-precos-ao-consumidor-amplo.html"
				class="text-blue-500 hover:underline">
				Referência: IBGE
			</a>
		</h3>

		{% for ipca in ipcas %}
		<div class="mb-5">
			<h4 class="text-lg font-semibold text-gray-800">{{ ipca.name }}</h4>
			<div class="flex space-x-8 justify-center">

				{#	Current	ipca #}
				<div class="space-y-1 text-left">

					<div class="flex space-x-2 text-sm font-medium text-gray-500">
						<span>{{ ipca.current_date }}</span>
					</div>

					<div class="text-3xl text-gray-800">
						{{ ipca.current_rate }}
					</div>

					<div class="text-gray-600">
						{{ ipca.rate_percentage|safe }}
					</div>
				</div>

				{#	Previous ipca #}
				<div class="space-y-1 text-right">
					<div class="flex space-x-2 text-sm font-medium text-gray-500">
						{{ ipca.previous_date }}
					</div>

					<div class="text-3xl text-gray-800">
						{{ ipca.previous_rate }}
					</div>
				</div>

			</div>
		</div>
		{% endfor %}

	</div>
</div>
{% endblock %}
